<%- include("templates/headerStart") %> 
<%- include("templates/headerEnd") %> 

    <%- include("templates/navBar") %> 

    <div>
        <button type="button" onclick="">URL</button>
        <button type="button" onclick="">IMAGES</button>
        <button type="button" onclick="">TEXT</button>
    </div>

<%- include("templates/footer") %> 