<%- include("templates/headerStart") %>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/index.css">
<link rel="stylesheet" href="/css/animations.css">
<script src="/scripts/index.js"></script>
<%- include("templates/headerEnd") %> 

<%- include("templates/navBar") %> 

<div id="main">
    <h1>
        Welcome to <span class="green">Green</span> Banana.
        <br>
        <span>Browse for Links, Images, or Text.</span>
    </h1>
    <div id="mainbtncontainer">
        <button class="mainbtn" id="linkbtn" type="button" onclick="">LINKS</button>
        <button class="mainbtn" id="imagebtn" type="button" onclick="navigateToImage()">IMAGES</button>
        <button class="mainbtn" id="textbtn" type="button" onclick="navigateToText()">TEXT</button>
    </div>
</div>

<%- include("templates/footer") %> 