<%- include("templates/headerStart") %>
<link rel="stylesheet" href="/css/textLanding.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="/css/animations.css">
<script src="/scripts/textLanding.js"></script>
<%- include("templates/headerEnd") %> 

<%- include("templates/navBar") %> 
<span class="spacer"></span>
<div class="container">
    <div class="title-section">
        <h1>Text</h1>
        <% if (loggedin){ %>
            <form class="button-container" action="/createText" method="post">
                <button class="create-text">Create Text</button>
            </form>
        <%} else {%>
            <button class="login-text" onclick="navigateToLogin()">Login to Create</button>
        <%}%>
    </div>
    <div class="line"></div>
</div>

<%- include("templates/footer") %> 