<%- include("templates/headerStart") %>
<link rel="stylesheet" href="/css/text.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="/css/animations.css">
<script src="/scripts/text.js"></script>
<%- include("templates/headerEnd") %> 

<%- include("templates/navBar") %> 

<div class="container">
    <span class="spacer"></span>
    <div class="btn-container">
        <button class="save-btn">Save Your Work</button>
    </div>
        
    <div class="html-container " for="html">
        <div class="tech-container">
            <img class="tech-icon" src="/assets/html.png" alt="">
            <p>html</p>
        </div>
        <textarea name="html" id="html-code" cols="30" rows="10" class="html" spellcheck="false"
        onkeyup="runCode()"></textarea>
    </div>

    <div class="css-container" for="css">
        <div class="tech-container">
            <img class="tech-icon" src="/assets/css.png" alt="">
            <p>css</p>
        </div>
        <textarea name="css" id="css-code" cols="30" rows="10" class="css" spellcheck="false"
        onkeyup="runCode()"></textarea>
    </div>

    <div class="js-container " for="js">
        <div class="tech-container">
            <img class="tech-icon" src="/assets/js.png" alt="">
            <p>js</p>
        </div>
        <textarea name="js" id="js-code" cols="30" rows="10" class="js" spellcheck="false"
        onkeyup="runCode()"></textarea>
    </div>

    <div class="output-container">
        <iframe id="output"></iframe>
    </div>

</div>

<%- include("templates/footer") %> 