<%- include("templates/headerStart") %>
<link rel="stylesheet" href="/css/text.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" href="/css/animations.css">
<script src="/scripts/text.js"></script>
<%- include("templates/headerEnd") %> 

<%- include("templates/navBar") %> 

<span class="spacer"></span>

<div class="container">

</div>

<span class="spacer"></span>

<%- include("templates/footer") %> 