@keyframes highlightBorder {
    0% {
        box-shadow: none;
        border: solid 3px #5f686f;
    }
    100%{
        box-shadow: 0 0 10px #6ed9a0;
        border: solid 3px #6ed9a0;
    }
}

@keyframes buttonGlow{
    0% {
        box-shadow: none;
    }
    100%{
        box-shadow: 0 0 10px #6ed9a0;
    }
}

@keyframes underline{
    0%{
        border-bottom: solid 1px transparent;
    }
    100%{
        border-bottom: solid 1px #6ed9a0;
    }
}

@keyframes greenBorder{
    0%{
        border: solid 1px #374652;
    }
    100%{
        border: solid 1px #6ed9a0
    }
}