
@media only screen and (max-width: 480px){
    
    body{
        height: 100vh;
        width: 100%;
    }
    
    .container{
        padding-top: 60px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title-section{
        display: flex;
        width: 80%;
        height: 3rem;
        justify-content: space-between;
        align-items: center;
    }
    
    .login-btn{
        width: 10rem;
        height: 90%;
        background-color: #6ed9a0;
        color: #ffffff;
        font-size: 1.1rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    
    .login-btn:hover{
        animation: 0.3s buttonGlow;
        animation-fill-mode: forwards;
    }
    
    .create-img{
        width: 10rem;
        height: 90%;
        font-size: 1.1rem;
        background-color: #6ed9a0;
        color: #ffffff;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    
    .create-img:hover{
        animation: 0.3s buttonGlow;
        animation-fill-mode: forwards;
    }
    
    .line{
        margin: 10px;
        height: 1px;
        width: 100%;
        background-color: #6ed9a0;
    }

    #backdrop {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
    }

    #formcont {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -12.5%;
        margin-left: -25%;
        width: 50%;
        height: 25%;
        background-color: #2a363fad;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        box-shadow: 0px 5px 10px 5px #0000001d;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        z-index: 20;
    }

    #formcont h2 {
        background: transparent;
    }
    
    .create-img-form{
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .field {
        background: transparent;
    }

    #image {
        height:fit-content;
        background-color: #2a363f;
        border-radius: 5px;
        border: solid 3px #5f686f;
        color: #ffffff;
    }

    input[type="file"]::file-selector-button {
        border-radius: 5px;
        cursor: pointer;
        background-color: #6ed9a0;
        color: #ffffff;
        transition: background-color 200ms;
        font-size: 1.1rem;
        border: none;
    }

    .upload-btn {
        width: 5rem;
        background-color: #6ed9a0;
        color: #ffffff;
        font-size: 1.1rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    
    .posts {
        padding: 10px;
        display: grid; 
        grid-template-columns: 100%;
        justify-items: center;
    }
    
    .imagepost {
        border-radius: 10px;
        width: 95%;
        aspect-ratio: 1/1;
        overflow: hidden;
        box-shadow: 0px 5px 10px 5px #0000001d;
        margin-bottom: 20px;
    }
    
    .imagepost:hover{
        animation: 0.3s greenBorder;
        box-shadow: 0 0 10px #6ed9a0;
        animation-fill-mode: forwards;
    }
    
    .imgcont {
        height: 80%;
        width: 100%;
    }
    
    .imgcont img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .imginfo {
        margin: 5vw;
        font-size: 5vw;
    }

}


@media only screen and (min-width: 481px){
    
    body{
        height: 100vh;
        width: 100%;
    }
    
    .container{
        padding-top: 60px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title-section{
        display: flex;
        width: 80%;
        height: 3rem;
        justify-content: space-between;
        align-items: center;
    }
    
    .login-btn{
        width: 10rem;
        height: 90%;
        background-color: #6ed9a0;
        color: #ffffff;
        font-size: 1.1rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    
    .login-btn:hover{
        animation: 0.3s buttonGlow;
        animation-fill-mode: forwards;
    }
    
    .create-img{
        width: 10rem;
        height: 90%;
        font-size: 1.1rem;
        background-color: #6ed9a0;
        color: #ffffff;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    
    .create-img:hover{
        animation: 0.3s buttonGlow;
        animation-fill-mode: forwards;
    }
    
    .line{
        margin: 10px;
        height: 1px;
        width: 100%;
        background-color: #6ed9a0;
    }

    #backdrop {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
    }

    #formcont {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -12.5%;
        margin-left: -25%;
        width: 50%;
        height: 25%;
        background-color: #2a363fad;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        box-shadow: 0px 5px 10px 5px #0000001d;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        z-index: 20;
    }

    #formcont h2 {
        background: transparent;
    }
    
    .create-img-form{
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .field {
        background: transparent;
    }

    #image {
        height:fit-content;
        background-color: #2a363f;
        border-radius: 5px;
        border: solid 3px #5f686f;
        color: #ffffff;
    }

    input[type="file"]::file-selector-button {
        border-radius: 5px;
        cursor: pointer;
        background-color: #6ed9a0;
        color: #ffffff;
        transition: background-color 200ms;
        font-size: 1.1rem;
        border: none;
    }

    .upload-btn {
        width: 5rem;
        background-color: #6ed9a0;
        color: #ffffff;
        font-size: 1.1rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    
    .posts {
        padding: 10px;
        display: grid; 
        grid-template-columns: 25% 25% 25% 25%;
        justify-items: center;
    }
    
    .imagepost {
        border-radius: 10px;
        width: 95%;
        aspect-ratio: 1/1;
        overflow: hidden;
        box-shadow: 0px 5px 10px 5px #0000001d;
        margin-bottom: 20px;
    }
    
    .imagepost:hover{
        animation: 0.3s greenBorder;
        box-shadow: 0 0 10px #6ed9a0;
        animation-fill-mode: forwards;
    }
    
    .imgcont {
        height: 80%;
        width: 100%;
    }
    
    .imgcont img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .imginfo {
        margin: 1.25vw;
        font-size: 1.25vw;
    }

}

@media only screen and (min-width: 1121px){
    
    body{
        height: 100vh;
        width: 100%;
    }
    
    .container{
        padding-top: 60px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .title-section{
        display: flex;
        width: 80%;
        height: 3rem;
        justify-content: space-between;
        align-items: center;
    }
    
    .login-btn{
        width: 10rem;
        height: 90%;
        background-color: #6ed9a0;
        color: #ffffff;
        font-size: 1.1rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    
    .login-btn:hover{
        animation: 0.3s buttonGlow;
        animation-fill-mode: forwards;
    }
    
    .create-img{
        width: 10rem;
        height: 90%;
        font-size: 1.1rem;
        background-color: #6ed9a0;
        color: #ffffff;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    
    .create-img:hover{
        animation: 0.3s buttonGlow;
        animation-fill-mode: forwards;
    }
    
    .line{
        margin: 10px;
        height: 1px;
        width: 100%;
        background-color: #6ed9a0;
    }

    #backdrop {
        display: none;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 10;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.2);
    }

    #formcont {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-top: -12.5%;
        margin-left: -25%;
        width: 50%;
        height: 25%;
        background-color: #2a363fad;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        box-shadow: 0px 5px 10px 5px #0000001d;
        border-radius: 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        z-index: 20;
    }

    #formcont h2 {
        background: transparent;
    }
    
    .create-img-form{
        background: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }

    .field {
        background: transparent;
    }

    #image {
        height:fit-content;
        background-color: #2a363f;
        border-radius: 5px;
        border: solid 3px #5f686f;
        color: #ffffff;
    }

    input[type="file"]::file-selector-button {
        border-radius: 5px;
        cursor: pointer;
        background-color: #6ed9a0;
        color: #ffffff;
        transition: background-color 200ms;
        font-size: 1.1rem;
        border: none;
    }

    .upload-btn {
        width: 5rem;
        background-color: #6ed9a0;
        color: #ffffff;
        font-size: 1.1rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }
    
    .posts {
        padding: 10px;
        display: grid; 
        grid-template-columns: 20% 20% 20% 20% 20%;
        justify-items: center;
    }
    
    .imagepost {
        border-radius: 10px;
        width: 95%;
        aspect-ratio: 1/1;
        overflow: hidden;
        border: solid 1px #00000000;
        box-shadow: 0px 5px 10px 5px #0000001d;
        margin-bottom: 20px;
        cursor: pointer;
        display:block;
        text-decoration: none;
    }
    
    .imagepost:hover{
        animation: 0.3s greenBorder;
        box-shadow: 0 0 10px #6ed9a0;
        animation-fill-mode: forwards;
    }
    
    .imgcont {
        height: 80%;
        width: 100%;
    }
    
    .imgcont img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .imginfo {
        margin: 1vw;
        font-size: 1vw;
    }

}