#main {
    display: grid;
    grid-template-rows: 100px;
}

h1 {
    text-align: center;
    grid-row-start: 2;
}

#mainbtns {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: auto 125px 50px 125px 50px 125px auto;
}

button {
    color: #ffffff;
    background-color: #6ed9a0;
    border-radius: 4px;
    border: none;
    height: 35px;
    font-size: 20px;
    font-family: Roboto;
}

button:hover {
    animation: 0.3s buttonGlow;
    animation-fill-mode: forwards;
}

#linkbtn {
    grid-column-start: 2;
}

#imagebtn {
    grid-column-start: 4;
}

#textbtn {
    grid-column-start: 6;
}