#main {
    display: grid;
    grid-template-rows: 100px;
}

h1 {
    text-align: center;
    grid-row-start: 2;
}

#mainbtns {
    grid-row-start: 3;
    display: grid;
    grid-template-columns: auto 100px 50px 100px 50px 100px auto;
}

button {
    background-color: #4CAF50;
    border-radius: 4px;
    border: none;
    height: 30px;
    font-size: 20px;
}

button:hover {
    background-color: lightgreen;
}

#linkbtn {
    grid-column-start: 2;
}

#imagebtn {
    grid-column-start: 4;
}

#textbtn {
    grid-column-start: 6;
}