*{
    margin: 0;
    font-family: Roboto;
    color: #ffffff;
    background-color: #2a363f;
}

/*CSS for mobile*/
@media only screen and (max-width: 480px){

    .login-title{
        display: none;
    }

    body{
        display: grid;
        place-items: center;
        height: 100vh;
        width: 100;
    }

    .login-container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .login-logo-container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    
    .logo{
        width: 5rem;
        height: 5rem;
    }
    
    .title-section{
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        letter-spacing: 7px;
    } 
    
    .green{
        color: #6ed9a0;
        text-shadow: 0 0 20px #6ed9a0;
    }

    .vertical-line{
        width: 80%;
        height: 1px;
        background-color: #6ed9a0;
    }

    .login-form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 100%;
    }
    
    .login-form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
        width: 100%;
    }
    
    .login-input{
        height: 3rem;
        width: 80%;
        border-radius: 5px;
        color: #ffffff;
        padding-left: 1rem;
        font-size: 1rem;
        border: solid 3px #5f686f;
    }
    
    .login-input:focus{
        outline: none !important;
        animation: 0.2s highlightBorder;
        animation-fill-mode: forwards;
    }
    
    .login-button{
        margin-top: 1rem;
        height: 3rem;
        width: 85.5%;
        background-color: #6ed9a0;
        font-size: 1.2rem;
        border-radius: 5px;
        border: none;
        cursor: pointer;
    }

    .login-button:hover{
        animation: 0.3s buttonGlow;
        animation-fill-mode: forwards;
    }
    
    .login-signup{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        font-size: 1rem;
    }
    
    .signup{
        color: #6ed9a0;
        text-decoration: none;
        border-bottom: solid 1px transparent;
    }

    .signup:hover{
        animation: 0.3s underline;
        animation-fill-mode: forwards;
    }
}

/*CSS for tablets*/
@media only screen and (min-width: 481px){
    .login-title{
        display: none;
    }

    body{
        display: grid;
        place-items: center;
        height: 100vh;
        width: 100;
    }

    .login-container{
        height: 100%;
        width: 27rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .login-logo-container{
        display: flex;
        justify-content: center;
        gap: 1rem;
        align-items: center;
    }
    
    .logo{
        width: 7rem;
        height: 7rem;
    }
    
    .title-section{
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        letter-spacing: 7px;
    } 
    
    .green{
        color: #6ed9a0;
        text-shadow: 0 0 20px #6ed9a0;
    }

    .vertical-line{
        width: 90%;
        height: 1px;
        background-color: #6ed9a0;
    }

    .login-form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    
    .login-form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }
    
    .login-input{
        height: 4rem;
        width: 24rem;
        border-radius: 5px;
        border: solid 3px #5f686f;
        color: #ffffff;
        padding-left: 1rem;
        font-size: 1.2rem;
        background: transparent;
    }
    
    .login-input:focus{
        outline: none !important;
        animation: 0.2s highlightBorder;
        animation-fill-mode: forwards;
    }
    
    .login-button{
        margin-top: 1rem;
        height: 4rem;
        width: 25rem;
        background-color: #6ed9a0;
        font-size: 1.4rem;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }

    .login-button:hover{
        animation: 0.3s buttonGlow;
        animation-fill-mode: forwards;
    }
    
    .login-signup{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 1.1rem;
    }
    
    .signup{
        color: #6ed9a0;
        text-decoration: none;
        border-bottom: solid 1px transparent;
    }

    .signup:hover{
        animation: 0.3s underline;
        animation-fill-mode: forwards;
    }
}

/*CSS for desktops*/
@media only screen and (min-width: 1121px){
    .login-title{
        display: block;
    }

    body{
        display: grid;
        place-items: center;
        height: 100vh;
        width: 100vw;
    }
    
    .login-logo-container{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    
    .logo{
        width: 10rem;
        height: 10rem;
    }
    
    .title-section{
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        letter-spacing: 7px;
    }
    
    .green{
        color: #6ed9a0;
        text-shadow: 0 0 20px #6ed9a0;
    }
    
    .login-container{
        display: flex;
        flex-direction: row;
        width: 70rem;
        height: 30rem;
        justify-content: space-around;
        align-items: center;
        margin-right: 2rem;
    }
    
    
    .vertical-line{
        height: 80%;
        width: 1px;
        background-color: #6ed9a0;
    }
    
    .login-form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    
    .login-form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }
    
    .login-input{
        height: 4rem;
        width: 24rem;
        border-radius: 5px;
        border: solid 3px #5f686f;
        color: #ffffff;
        padding-left: 1rem;
        font-size: 1.2rem;
    }
    
    .login-input:focus{
        outline: none !important;
        animation: 0.2s highlightBorder;
        animation-fill-mode: forwards;
    }
    
    .login-button{
        margin-top: 1rem;
        height: 4rem;
        width: 25rem;
        background-color: #6ed9a0;
        font-size: 1.4rem;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }

    .login-button:hover{
        animation: 0.3s buttonGlow;
        animation-fill-mode: forwards;
    }
    
    .login-signup{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 1.3rem;
    }
    
    .signup{
        color: #6ed9a0;
        text-decoration: none;
        border-bottom: solid 1px transparent;
    }

    .signup:hover{
        animation: 0.3s underline;
        animation-fill-mode: forwards;
    }
    
    
}

