#navbar {
    top: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #2a363fad;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 10px 5px #0000001d;
    display: flex;
    justify-content: space-between;
    z-index: 20;
}

#navbarpad {
    height: 50px;
    width: 100%;
}

.navelem {
    font-size: 20px;
    height: 50px;
    text-decoration: none;
    line-height: 50px;
    color: white;
    background: transparent;
    cursor: pointer;
    border: none;
}

.navelem:hover {
    animation: 0.3s underline;
    animation-fill-mode: forwards;
    text-shadow: 0px 0px 50px #6ed9a0;
}

#navmain {
    padding-left: 10px;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
}

#navuser {
    padding-right: 10px;
    background: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navlogo {
    background: transparent;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.navlogo:hover {
    filter: drop-shadow(0px 0px 10px #6ed9a0);
}

.navlelem {
    height: 50px;
    background: transparent;
    display: flex;
    align-items: center;
    border: none;
}

.navlelem:hover {
    animation: 0.3s underline;
    animation-fill-mode: forwards;
}

#navmenu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #2a363fad;
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 10px 5px #0000001d;
    z-index: 3;
    top: 50px;
    flex-direction: column;
    text-align: end;
    padding-right: 10px;
    padding-left: 10px;
}

#navmenu form {
    background: transparent;
}