/*CSS for mobile*/
@media only screen and (max-width: 480px){

    .signup-title{
        display: none;
    }

    #main{
        display: grid;
        place-items: center;
    }

    .signup-container{
        width: 100%;
        height: auto;
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 2rem;
    }

    .signup-form-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }

    .signup-form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .signup-input{
        height: 3rem;
        width: 80%;
        border-radius: 5px;
        border: solid 3px #5f686f;
        color: #ffffff;
        padding-left: 1rem;
        font-size: 1rem;
    }
    
    .signup-input:focus{
        outline: none !important;
        animation: 0.2s highlightBorder;
        animation-fill-mode: forwards;
    }

    .signup-button{
        margin-top: 1rem;
        height: 3rem;
        width: 86%;
        background-color: #6ed9a0;
        font-size: 1.2rem;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }

    .signup-button:hover{
        animation: 0.3s buttonGlow;
        animation-fill-mode: forwards;
    }

    .signup-login{
        display: flex;
        justify-content: space-around;
        font-size: 1rem;
        margin-top: 1rem;
        align-items: center;
    }

    .login{
        text-decoration: none;
        border-bottom: solid 1px transparent;
        color: #6ed9a0;
    }

    .login:hover{
        animation: 0.3s underline;
        animation-fill-mode: forwards;
    }

    .vertical-line{
        height: 1px;
        width: 80%;
        background-color: #6ed9a0;
        grid-row-start: 2;
    }

    .signup-logo-container{
        display: flex;
        justify-content: center;
        gap: 1rem;
        grid-row-start: 1;
    }
    
    .logo{
        width: 5rem;
        height: 5rem;
    }
    
    .title-section{
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        letter-spacing: 7px;
    }
    
    .title-section h1 {
        margin: 0;
    }
    
    .green{
        color: #6ed9a0;
        text-shadow: 0 0 20px #6ed9a0;
    }

    #blackout{
        display: none;
        position: absolute;
        place-items: center;
        z-index: 2;
        background-color: #151b205a;
        height: 100vh;
        width: 100vw;
    }

    .modal-container{
        height: 20rem;
        width: 20rem;
        background-color: #161a1fc3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px #6ed9a0;
        border-radius: 5px;
        gap: 1rem;
    }

    #modal-text{
        text-decoration: none;
        background: none;
        width: 12rem;
        text-align: center;
    }

    .ok-button{
        height: 2rem;
        width: 10rem;
        background-color: #6ed9a0;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }

    .oops{
        color: #6ed9a0;
        background: none;
    }
}

/*CSS for tablet*/
@media only screen and (min-width: 481px){

    .signup-title{
        display: none;
    }

    #main{
        display: grid;
        place-items: center;
    }

    .signup-container{
        width: 27rem;
        height: auto;
        display: grid;
        justify-items: center;
        align-items: center;
        gap: 2rem;
    }

    .signup-form-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .signup-form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .signup-input{
        height: 4rem;
        width: 24rem;
        border-radius: 5px;
        border: solid 3px #5f686f;
        color: #ffffff;
        padding-left: 1rem;
        font-size: 1.2rem;
    }
    
    .signup-input:focus{
        outline: none !important;
        animation: 0.2s highlightBorder;
        animation-fill-mode: forwards;
    }

    .signup-button{
        margin-top: 1rem;
        height: 4rem;
        width: 25.5rem;
        background-color: #6ed9a0;
        font-size: 1.4rem;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }

    .signup-button:hover{
        animation: 0.3s buttonGlow;
        animation-fill-mode:forwards;
    }

    .signup-login{
        display: flex;
        justify-content: space-between;
        font-size: 1.1rem;
        align-items: center;
    }

    .login{
        text-decoration: none;
        color: #6ed9a0;
        border-bottom: solid 1px transparent;
    }

    .login:hover{
        animation: 0.3s underline;
        animation-fill-mode: forwards;
    }

    .vertical-line{
        height: 1px;
        width: 90%;
        background-color: #6ed9a0;
        grid-row-start: 2;
    }

    .signup-logo-container{
        display: flex;
        justify-content: center;
        gap: 1rem;
        grid-row-start: 1;
    }
    
    .logo{
        width: 7rem;
        height: 7rem;
    }
    
    .title-section{
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        letter-spacing: 7px;
    }

    .title-section h1 {
        margin: 0;
    }
    
    .green{
        color: #6ed9a0;
        text-shadow: 0 0 20px #6ed9a0;
    }

    #blackout{
        display: none;
        position: absolute;
        place-items: center;
        z-index: 2;
        background-color: #151b205a;
        height: 100vh;
        width: 100vw;
    }

    .modal-container{
        height: 20rem;
        width: 20rem;
        background-color: #161a1fc3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px #6ed9a0;
        border-radius: 5px;
        gap: 1rem;
    }

    #modal-text{
        text-decoration: none;
        background: none;
        width: 12rem;
        text-align: center;
    }

    .ok-button{
        height: 2rem;
        width: 10rem;
        background-color: #6ed9a0;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }

    .oops{
        color: #6ed9a0;
        background: none;
    }
}

/*CSS for desktop*/
@media only screen and (min-width: 1121px){

    .signup-title{
        display: block;
        align-self: center;
    }

    #main{
        display: grid;
        place-items: center;
    }

    .signup-container{
        width: 70rem;
        height: 40rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 2rem;
        z-index: 1;
    }

    .signup-form-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .signup-form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .signup-input{
        height: 4rem;
        width: 24rem;
        border-radius: 5px;
        border: solid 3px #5f686f;
        color: #ffffff;
        padding-left: 1rem;
        font-size: 1.2rem;
    }
    
    .signup-input:focus{
        outline: none !important;
        animation: 0.2s highlightBorder;
        animation-fill-mode: forwards;
    }

    .signup-button{
        margin-top: 1rem;
        height: 4rem;
        width: 25rem;
        background-color: #6ed9a0;
        font-size: 1.4rem;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }

    .signup-button:hover{
        animation: 0.3s buttonGlow;
        animation-fill-mode: forwards;
    }

    .signup-login{
        display: flex;
        justify-content: space-between;
        font-size: 1.3rem;
        align-items: center;
    }

    .login{
        text-decoration: none;
        color: #6ed9a0;
        border-bottom: solid 1px transparent;
    }

    .login:hover{
        animation: 0.3s underline;
        animation-fill-mode: forwards;
    }

    .vertical-line{
        height: 28rem;
        width: 1px;
        background-color: #6ed9a0;
    }

    .signup-logo-container{
        display: flex;
        justify-content: center;
        gap: 1rem;
    }
    
    .logo{
        width: 10rem;
        height: 10rem;
    }
    
    .title-section{
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        letter-spacing: 7px;
    }

    .title-section h1 {
        margin: 0;
    }
    
    .green{
        color: #6ed9a0;
        text-shadow: 0 0 20px #6ed9a0;
    }

    #blackout{
        display: none;
        position: absolute;
        place-items: center;
        z-index: 2;
        background-color: #151b205a;
        height: 100vh;
        width: 100vw;
    }

    .modal-container{
        height: 20rem;
        width: 20rem;
        background-color: #161a1fc3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px #6ed9a0;
        border-radius: 5px;
        gap: 1rem;
    }

    #modal-text{
        text-decoration: none;
        background: none;
        width: 12rem;
        text-align: center;
    }

    .ok-button{
        height: 2rem;
        width: 10rem;
        background-color: #6ed9a0;
        font-size: 1rem;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }

    .oops{
        color: #6ed9a0;
        background: none;
    }


}