* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
    background-color: #2a363f;
    color: #ffffff;
}

.green{
    color: #6ed9a0;
}

::-webkit-scrollbar{
    width: 2px;
  }
  
  ::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb{
    background: #6ed9a0; 
    border-radius: 10px;
  }